
body {
  background: #272727;
	margin: 0px;
	padding: 0px;
	color: #666;	/*全体の文字色*/
	line-height: 2;		/*行間*/

}

.content {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.text {
  font-size: 14px;
}