@font-face {
  font-family: "gen";
  src: url("./fonts/gen.ttf");
}

body {
  display: flex;
  flex-direction: column;
  background: #272727;
	margin: 20px;
	padding: 10px;
	color: #f6f4e6;	/*全体の文字色*/
	font-family: "Montserrat", sans-serif;
	font-size: 13px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
  /* height: 100vh; */
  margin-bottom: 50px;

  font-family: "gen";
}

.navMenu {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 93%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 0.8em;
  text-transform: uppercase;
}

.navMenu a:hover {
  color: #fddb3a;
}
