@font-face {
  font-family: "ms";
  src: url("./fonts/myfont.ttf");
}

body {
  display: flex;
  flex-direction: column;
  background: #272727;
	margin: 20px;
	padding: 10px;
	color: #f6f4e6;	/*全体の文字色*/
	font-size: 13px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
  margin-bottom: 50px;

  font-family: "ms";
}

.navMenu {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 93%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 0.8em;
  text-transform: uppercase;
}

.navMenu a:hover {
  color: #fddb3a;
}





@keyframes boundx{
0%{background-position-x:0%;}
100%{background-position-x:100%;}
}
@keyframes boundy{
0%{background-position-y:100%;}
33%{background-position-y:45%;}
66%{background-position-y:15%;}
100%{background-position-y:0%;}
}

.boundball1 span{
  padding-left:70px;
  padding-top:70px;
  animation:boundx 15s linear infinite alternate,boundy 1s ease infinite alternate;
  background-size:70px 70px;
  background-repeat:no-repeat;

  height: auto;
  max-width: 1000px;
  margin-top:10px;

  display: inline-block;
  }

  .boundball2 span{
    padding-left:70px;
    padding-top:70px;
    animation:boundx 15s linear infinite alternate,boundy 1s ease infinite alternate;
    background-size:70px 70px;
    background-repeat:no-repeat;
  
    height: auto;
    max-width: 1000px;
    margin-top:10px;
  
    display: inline-block;
    }

    .boundball3 span{
      padding-left:70px;
      padding-top:70px;
      animation:boundx 15s linear infinite alternate,boundy 1s ease infinite alternate;
      background-size:70px 70px;
      background-repeat:no-repeat;
    
      height: auto;
      max-width: 1000px;
      margin-top:10px;
    
      display: inline-block;
      }

      .boundball4 span{
        padding-left:70px;
        padding-top:70px;
        animation:boundx 15s linear infinite alternate,boundy 1s ease infinite alternate;
        background-size:70px 70px;
        background-repeat:no-repeat;
      
        height: auto;
        max-width: 1000px;
        margin-top:10px;
      
        display: inline-block;
        }

        .boundball5 span{
          padding-left:70px;
          padding-top:70px;
          animation:boundx 15s linear infinite alternate,boundy 1s ease infinite alternate;
          background-size:70px 70px;
          background-repeat:no-repeat;
        
          height: auto;
          max-width: 1000px;
          margin-top:10px;
        
          display: inline-block;
          }

          .boundball6 span{
            padding-left:70px;
            padding-top:70px;
            animation:boundx 15s linear infinite alternate,boundy 1s ease infinite alternate;
            background-size:70px 70px;
            background-repeat:no-repeat;
          
            height: auto;
            max-width: 1000px;
            margin-top:10px;
          
            display: inline-block;
            }

            .boundball7 span{
              padding-left:70px;
              padding-top:70px;
              animation:boundx 15s linear infinite alternate,boundy 1s ease infinite alternate;
              background-size:70px 70px;
              background-repeat:no-repeat;
            
              height: auto;
              max-width: 1000px;
              margin-top:10px;
            
              display: inline-block;
              }

              .boundball8 span{
                padding-left:70px;
                padding-top:70px;
                animation:boundx 15s linear infinite alternate,boundy 1s ease infinite alternate;
                background-size:70px 70px;
                background-repeat:no-repeat;
              
                height: auto;
                max-width: 1000px;
                margin-top:10px;
              
                display: inline-block;
                }
  



.boundball1 span:nth-child(1) {
  background-image:url(balls/mj1.PNG);
  animation-delay: 0.1s;
  padding-top:80px;
}.boundball1 span:nth-child(2) {
  background-image:url(balls/mj2.PNG);
  animation-delay: 0.2s;
  padding-top:80px;
}.boundball1 span:nth-child(3) {
  background-image:url(balls/mj3.PNG);
  animation-delay: 0.3s;
  padding-top:80px;
}.boundball1 span:nth-child(4) {
  background-image:url(balls/mj4.PNG);
  animation-delay: 0.4s;
  padding-top:80px;
}.boundball1 span:nth-child(5) {
  background-image:url(balls/mj5.PNG);
  animation-delay: 0.5s;
  padding-top:80px;
}.boundball1 span:nth-child(6) {
  background-image:url(balls/mj6.PNG);
  animation-delay: 0.6s;
  padding-top:80px;
}.boundball1 span:nth-child(7) {
  background-image:url(balls/mj7.PNG);
  animation-delay: 0.7s;
  padding-top:80px;

}.boundball2 span:nth-child(1) {
  background-image:url(balls/r1.PNG);
  animation-delay: 0.8s;
  padding-top:120px;
}.boundball2 span:nth-child(2) {
  background-image:url(balls/r2.PNG);
  animation-delay: 0.9s;
  padding-top:120px;
}.boundball2 span:nth-child(3) {
  background-image:url(balls/r3.PNG);
  animation-delay: 1.0s;
  padding-top:120px;
}.boundball2 span:nth-child(4) {
  background-image:url(balls/r4.PNG);
  animation-delay: 1.1s;
  padding-top:120px;
}.boundball2 span:nth-child(5) {
  background-image:url(balls/r5.PNG);
  animation-delay: 1.2s;
  padding-top:120px;

}.boundball3 span:nth-child(1) {
  background-image:url(balls/b1.PNG);
  animation-delay: 1.3s;
  padding-top:80px;
}.boundball3 span:nth-child(2) {
  background-image:url(balls/b2.PNG);
  animation-delay: 1.4s;
  padding-top:80px;
}.boundball3 span:nth-child(3) {
  background-image:url(balls/b3.PNG);
  animation-delay: 1.5s;
  padding-top:80px;

}.boundball4 span:nth-child(1) {
  background-image:url(balls/g1.PNG);
  animation-delay: 1.6s;
  padding-top:120px;
}.boundball4 span:nth-child(2) {
  background-image:url(balls/g2.PNG);
  animation-delay: 1.7s;
  padding-top:120px;

}.boundball5 span:nth-child(1) {
  background-image:url(balls/l1.PNG);
  animation-delay: 1.8s;
  padding-top:80px;
}.boundball5 span:nth-child(2) {
  background-image:url(balls/l2.PNG);
  animation-delay: 1.9s;
  padding-top:80px;
}.boundball5 span:nth-child(3) {
  background-image:url(balls/l3.PNG);
  animation-delay: 2.0s;
  padding-top:80px;

}.boundball6 span:nth-child(1) {
  background-image:url(balls/d1.PNG);
  animation-delay: 2.1s;
  padding-top:120px;
}.boundball6 span:nth-child(2) {
  background-image:url(balls/d2.PNG);
  animation-delay: 2.2s;
  padding-top:120px;
}.boundball6 span:nth-child(3) {
  background-image:url(balls/d3.PNG);
  animation-delay: 2.3s;
  padding-top:120px;
}.boundball6 span:nth-child(4) {
  background-image:url(balls/d4.PNG);
  animation-delay: 2.3s;
  padding-top:120px;

}.boundball7 span:nth-child(1) {
  background-image:url(balls/o1.PNG);
  animation-delay: 2.4s;
  padding-top:80px;
}.boundball7 span:nth-child(2) {
  background-image:url(balls/o2.PNG);
  animation-delay: 2.5s;
  padding-top:80px;
}.boundball7 span:nth-child(3) {
  background-image:url(balls/o3.PNG);
  animation-delay: 2.6s;
  padding-top:80px;
}.boundball7 span:nth-child(4) {
  background-image:url(balls/o4.PNG);
  animation-delay: 2.7s;
  padding-top:80px;
}.boundball7 span:nth-child(5) {
  background-image:url(balls/o5.PNG);
  animation-delay: 2.8s;
  padding-top:80px;

}.boundball8 span:nth-child(1) {
  background-image:url(balls/y1.PNG);
  animation-delay: 2.9s;
  padding-top:120px;
}.boundball8 span:nth-child(2) {
  background-image:url(balls/x1.PNG);
  animation-delay: 3.0s;
  padding-top:120px;
}